
    /*==アコーディオン==*/
    .accordion-wrap {
        width: calc(70% - 50px);
        padding: 1rem;
        border: 1px solid var(--border);
        background-color: rgba(217, 217, 217, 0.1);
        backdrop-filter: blur(1px);
        border-radius: 5px;
    }
    /*title*/
        .accordion-item {
            width: 100%;
            margin: 0 auto;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-items: center;    
        }
        .accordion-header {
            width: 100%;
            color: var(--bg);
            font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
            border-bottom: 1px solid var(--border);
            transition: color 100ms;
        }
        .accordion-header span {
            font-family: sans-serif;
            font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
            color: var(--accent);
            border-right: 1px solid var(--bg);
            padding: 0 1rem;
            margin-right: 1rem;
        }
        .accordion-header.active {
            color: var(--accent);
        }
        .accordion-header span .active {
            color: var(--bg);
        }
    /*in-text*/ 
        .accordion-text {
            width: 80%;
            height: 150px;
            margin: 3% auto 0;
            display: none;
            overflow-y: auto;
        }
        .accordion-text p {
            font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
            letter-spacing: 0.1rem;
        }
    /*i*/
        .fa {
            transition: transform 300ms, color 100ms;
        }
        .rotate-fa {
            transform: rotate(90deg);
        }
        .accordion-header .fa {
            float: right;
            padding-top: 0.5rem;
            padding-right: 0.5rem;
        }
        .accordion-gold .accordion-header {
            color: var(--bg);
        }
        .accordion-no-bar {
            border-bottom: 0;
        }

/*== アコーディオンEND ==*/
