
    /*==アコーディオン==*/
    .accordion-wrap {
        width: calc(80% - 100px);
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--bg-color);
        background-color: var(--text-color);
    }
    /*title*/
        .accordion-item {
            width: 100%;
            margin: 0 auto;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-items: center;    
        }
        .accordion-header {
            color: var(--bg-color);
            font-size: clamp(1rem, calc(1rem + 0.5vw), 1.2rem);
            transition: color 100ms;
            padding: auto;
        }
        .accordion-header.active {
            color: var(--accent-color);
        }
    /*in-text*/
        .accordion-text {
            width: 85%;
            margin: 0 auto;
            display: none;
        }
        .accordion-text p {
            font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
            color: var(--bg-color);
            padding: 0 1rem;
        }
    /*i*/
        .fa {
            transition: transform 300ms, color 100ms;
        }
        .rotate-fa {
            transform: rotate(90deg);
        }
        /*.accordion-header .fa {
            float: right;
            padding-top: 0;
        }*/
        .accordion-gold .accordion-header {
            color: var(--bg-color);
        }
        .accordion-no-bar {
            border-bottom: 0;
        }
/*== アコーディオンEND ==*/
