:root {
    font-size: 62.5%;
    --root-font-size: 16;
    /*=メインカラー rgba(214, 228, 218)*/
    --main-color: #D6E4DA;
    /*=サブカラー rgba(45, 141, 134)*/
    --sub-color: #2d8d86;
    /*=リンク rgba(0, 58, 66)*/
    --link-color: #003A42;
    /*=ベースカラー rgba(46, 46, 46)*/
    --base-color: #2E2E2E;
    /*=アクセントカラー rgba(90, 202, 152)*/
    --accent-color: #5ACA98;
    /*=ホワイトカラー rgba(245, 252, 246)*/
    --white-color: #F5FCF6;
}

::selection {
    background-color: rgba(90,202,152, 0.5);
}

body,header,footer,h1,h2,h3,h4,p,ul,ol,li,a,div,span,img {
    margin: 0;
    padding: 0;
}

/*===================== Scrollbar =====================*/
::-webkit-scrollbar {
    width: 0.2rem;
    background: rgba(40, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0) inset;
    background: rgba(245, 252, 246, 0);
    mix-blend-mode: color-burn;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 2px 1px rgba(31, 30, 30, 0.76) inset;
    background: rgba(20, 20, 20, 0.3);
    mix-blend-mode: color-burn;
}
/*===================== Scrollbar =====================*/

/*===================== head =====================*/
.head {
    position: absolute;
    top: 0.3%;
    left: 4%;
    z-index: 1;

    a {
        padding: 0.25em 0.5em;

        img {
            width: 35vmin;
        }
    }

}
/*===================== head =====================*/

/*===================== body text =====================*/
.pc {
    display: block;
}
.mobaile {
    display: none;
}

body {
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--main-color);
    background-color: var(--base-color);
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: url('https://mizukioyama.github.io/pd/hp-img/body-modan.png') no-repeat center center;
    background-attachment: fixed;
}

h1 {
    /*font-size: 62.5%;=16px 12rem=120px*/
    font-size: clamp(10rem, calc(10rem + 0.1vw), 12rem);
    font-family: liana, script;
    font-weight: 400;
    color: var(--base-color);
    width: fit-content;
    line-height: 1em;
}

h2 {
    /*font-size: 62.5%;=16px 6rem=62px*/
    font-size: clamp(4rem, calc(4rem + 0.5vw), 6rem);
    width: fit-content;
}

h3 {
    /*font-size: 62.5%;=16px 4rem=42px*/
    font-size: clamp(3rem, calc(3rem + 0.5vw), 4rem);
}

h2,
h3,
h4 {
    font-family: roca, sans-serif;
    font-weight: 300;
    color: var(--sub-color);
}

p {
    /*font-size: 62.5%;=16px 1.2rem=12px*/
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
    font-size: calc( 13 / var(--root-font-size) * 1rem );
    width: fit-content;
    letter-spacing: 0.05rem;
    text-shadow: 1px 1px 4px rgba(86, 86, 86, 0.65);
    animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
    from {
        filter: blur(3px);
        opacity: 0;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}
.tate {
    writing-mode: vertical-rl;
    line-height: 2.5rem;
}

ol,
ul {
    font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
    font-weight: 600;
    color: var(--base-color);
}

li {
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
    font-weight: 500;
    list-style: none;
}

/*===================== body text =====================*/

/*===================== リンク =====================*/
main a {
    letter-spacing: 0.75rem;
}
a {
    font-family: futura-pt, sans-serif;
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
    font-weight: 400;
    font-style: italic;
    color: var(--link-color);
    width: fit-content;
    height: fit-content;
    padding: 0.25em 0;
    left: 0;
    bottom: 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
a:hover {
    color: var(--sub-color);
}
a::after {
    background-color: var(--base-color);
    content: "";
    width: 100%;
    height: 1px;
    bottom: 5px;
    left: 0;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s ease;
}
a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*===================== リンク =====================*/

/*===================== Section =====================*/
section {
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(rgba(246, 246, 246, 0.455), rgba(246, 246, 246, 0.455)), url("https://mizukioyama.github.io/pd/hp-img/section01-modan-new.png") no-repeat center center;
    background-size: cover;
}
/*
#tab-1 {
    background: url('https://mizukioyama.github.io/pd/hp-img/original-bg.png') no-repeat center center;
}*/


/*===================== h1 top =====================*/
section .top-h1 {
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 3%;
    color: var(--base-color);
}

section .top-h1 .h1 {
    font-size: clamp(6rem, calc(6rem + 0.1vw), 8rem);
    margin-left: 70%;
}

section .top-h1 .caption {
    font-size: clamp(1.4rem, calc(1.4rem + 0.1vw), 1.8rem);
    margin: 0;
}
/*===================== h1 top =====================*/

/*===================== section p =====================*/
section .top-s {
    height: 400px;
    padding: 2em 0;
    margin-top: 10%;
    z-index: 1;
    text-align: justify;
    position: relative;
    display: flex;
    flex-direction: column;
    /* 縦に並べる */
    justify-content: center;
    /*縦方向の中央寄せ */
}
section .top-s .text {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
    font-weight: 600;
    margin: 0 0 3% 0;
    text-align: left;
}


section .top-s h2 {
    top: -13%;
}

section .top-s p {
    color: var(--base-color);
}

/*===================== section in-box =====================*/
#tab-1,
#tab-2,
#tab-3,
#tab-4,
#tab-5 {
    margin-bottom: 2%;
}
#tab-4 .top-s {
    margin-top: 0;
}

#tab-4 .box {
    justify-content: center;
}

section .box {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

/*#tab-1 .top-s,
#tab-3 .top-s,
#tab-5 .top-s {
    transform: translate(40%, 25%);
}

#tab-2 .top-s {
    transform: translate(-40%, 25%);
}*/

/*.section2 p {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid var(--base-color);
    display: flex;
    justify-content: center;
}*/



/*===================== Section =====================*/

/*===================== img =====================*/
img {
    max-width: 100%;
    width: 65%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    mix-blend-mode: color-burn;
    z-index: 0;
}

section #top-img {
    width: 75%;
    top: -10%;
    right: 0;
}

/*===================== img*/
section img {
    position: absolute;
}

.section1 img,
.section2 img,
.section3 img,
.section4 img {
    width: 35%;
}

.section1 img {
    width: 45%;
    bottom: -5%;
    left: 0;
    /*transform:rotate(-10deg);*/
}

.section2 img {
    width: 25%;
    bottom: 3%;
    right: 3%;
}

.section3 img {
    width: 25%;
    left: 0;
    bottom: 3%;
}

.section4 img {
    width: 45%;
    bottom: -5%;
    right: 0;
    transform:rotate(180deg);
}
/*===================== .img*/
.section1 .img,
.section2 .img,
.section3 .img,
.section4 .img {
    width: clamp(450px, 100%, 300px);
    height: 300px;
    /*border: 3px solid var(--base-color);*/
    position: absolute;
    z-index: 1;
    background-size: cover;
    mix-blend-mode: color-burn;
}

.section1 .img,
.section3 .img {
    content: "";
    top: 5%;
    left: 0%;
    background: url('https://mizukioyama.github.io/pd/hp-img/tower.png') no-repeat center center;
}

.section3 .img {
    background: url('https://mizukioyama.github.io/pd/hp-img/skill01.png') no-repeat center center;
}

.section2 .img,
.section4 .img {
    content: "";
    width: 50%;
    height: 500px;
    right: 0%;
    top: 10%;
    background: url('https://mizukioyama.github.io/pd/hp-img/overall.png') no-repeat center center;
}

.section4 .img {
/*    width: clamp(600px, 100%, 400px);
    height: 450px;*/
    background: url('https://mizukioyama.github.io/pd/hp-img/ai-service01.png') no-repeat center center;
}


/*===================== Top =====================*/
.top .section1 .box,
.top .section3 .box {
    justify-content: end;
}

.top .section1 .top-s h2,
.top .section2 .top-s h2,
.top .section3 .top-s h2 {
    position: absolute;
    right: 0;
}
.top .section1 .top-s,
.top .section2 .top-s,
.top .section3 .top-s {
    margin-top: 10%;
    /*flex-direction: row-reverse;*/
}
.top .section1 .top-s,
.top .section3 .top-s {
    margin-right: 25%;
}
.top .section2 .top-s {
    margin-left: 22%;
}

.top #tab-4 .top-s .text {
    text-align: center;
    margin: 0 auto;
}

/*===================== Top / About*/
.top .section4 .top-s,
.about .section4 .top-s {
    width: clamp(650px, 100%, 600px);
    width: clamp(800px, 100%, 650px);
    height: 600px;
    padding: 2em 4.5em;
    align-items: center;
    background: rgba(245, 252, 246, 0.7);
}


/*===================== Top / Contact*/

.top .section4 h3 {
    font-size: clamp(4rem, calc(4rem + 0.5vw), 6rem);
    font-weight: 400;
    line-height: 4.5rem;
}

.top .section4 .top-s::before,
.contact .section4 .top-s::before {
    content: "";
    width: 30%;
    height: 0;
    border-style: solid;
    border-width: 160px 200px 0 200px;
    border-color: var(--main-color) transparent transparent transparent;
    position: absolute;
    top: -5%;
    z-index: -1;
    opacity: 0.4;
    /*background: repeating-linear-gradient(-215deg, rgba(0, 58, 66, 0.8), rgba(0, 58, 66, 0.55) 70px, rgba(0, 58, 66, 0.8) 0, rgba(0, 58, 66, 0.55) 70px);*/
}
/*===================== Top =====================*/

/*===================== About =====================*/
.about #top-img {
    width: 75%;
    top: 10%;
    right: -5%;
}

.about #tab-1 .top-s,
.about #tab-2 .top-s,
.about #tab-3 .top-s,
.about #tab-4 .top-s,
.about #tab-5 .top-s {
    margin: 0 auto;
    transform: translate(0%, 0%);
}

.about #tab-1 .top-s p,
.about #tab-2 .top-s p,
.about #tab-3 .top-s p,
.about #tab-4 .top-s p,
.about #tab-5 .top-s p {
    width: 83%;
}

.about .section4 .top-s {
    width: clamp(800px, 100%, 650px);
}

.about .section4 h3 {
    font-size: clamp(4rem, calc(4rem + 0.5vw), 6rem);
    font-weight: 400;
    line-height: 4.5rem;
}

.about #tab-4 .top-s .text {
    text-align: center;
    margin: 3% auto 0;
}

/*===================== About img */
.about .section1 img,
.about .section2 img,
.about .section3 img,
.about .section4 img {
    width: 35%;
}

.about .section1 img {
    width: 30%;
    bottom: 3%;
    left: 3%;
    /*transform:rotate(-10deg);*/
}

.about .section2 img {
    width: 25%;
    bottom: 3%;
    right: 3%;
}

.about .section3 img {
    width: 25%;
    right: 0;
    bottom: 3%;
}
/*===================== About =====================*/

/*===================== Service =====================*/
.service section .top-s {
    height: 600px;
    margin: 0;
    padding: 2em 0;
    align-items: center;
    /*background: rgba(245, 252, 246, 0.7);*/
}

.flow {
    margin-bottom: 3%;
}

.service .section4 .option,
.service .section5 .option {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*===================== Service =====================*/