/*リセット*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote,
q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}

address {
    font-style: normal;
}

/* コンテナの幅を親要素にフィットさせるための設定 */
html {
    box-sizing: border-box;
    font-size: 100%;
    overflow-y: scroll;
}
/*リセット*/


/*h1*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/*h2 ~ h4*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 62.5%;
    --root-font-size: 16;
    /*text border main*/
    --text: #2e2e2e;
    /*sub black rgba(75, 75, 75)*/
    --hover: #4b4b4b;
    /*bg base (199, 199, 199)*/
    --bg: #c7c7c7;
    /*link accent (160, 113, 113)*/
    --accent: #A07171;
    /*border #d9d9d9 rgba(217, 217, 217, 0.5)*/
    --border: rgba(199, 199, 199, 0.5);
}

::selection {
    background-color: rgba(160, 113, 113, 0.5);
}


/*===================== Scrollbar =====================*/
::-webkit-scrollbar {
    width: 0.2rem;
    background: rgba(40, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0) inset;
    background: rgba(245, 252, 246, 0);
    mix-blend-mode: color-burn;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 2px 1px rgba(31, 30, 30, 0.76) inset;
    background: rgba(20, 20, 20, 0.3);
    mix-blend-mode: color-burn;
}

/*===================== Scrollbar =====================*/

/*===================== body text =====================*/
.pc {
    display: block;
}

.mobaile {
    display: none;
}

body {
    /*font-family: zen-maru-gothic, sans-serif;*/
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--bg);
    background: var(--text);
    background-image: url("https://mizukioyama.github.io/pd/hp-img/pd-bg-img02.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 20px;
    overflow-x: hidden;
}


* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    /*font-size: 62.5%;=16px 12rem=120px*/
    font-size: clamp(8rem, calc(8rem + 0.5vw), 10rem);
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: var(--bg);
    width: fit-content;
    line-height:12rem;
    letter-spacing: 3rem;
}

.noise {
    background: linear-gradient(to bottom right, var(--bg), var(--text)) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: darkgray;
    --lines: 0.0003px;
    mask: repeating-radial-gradient(circle at center,
            #000,
            var(--lines),
            #000,
            0,
            #0000,
            calc(var(--lines) * 2),
            #0000 0);
    /* フォールバック：マスクがサポートされない場合の背景色 */
    background-color: lightgray;
    color: var(--text); /* フォールバック用のテキスト色 */
}

@media (prefers-color-scheme: light) {
    .noise {
        background: linear-gradient(to bottom, black, gray) fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: darkgray;
        color: var(--bg);
    }
}

h2,
h3,
h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--bg);
}

h2 {
    /*font-size: 62.5%;=16px 6rem=62px*/
    font-family: sans-serif;
    font-weight: 500;
    font-size: clamp(2rem, calc(2rem + 0.5vw), 6rem);
    width: fit-content;
    line-height: 4rem;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--bg);
}
.policy h2 {
    line-height: 5rem;
}

h3 {
    /*font-size: 62.5%;=16px 4rem=42px*/
    font-size: clamp(2rem, calc(2rem + 0.5vw), 4rem);
}

p {
    /*font-size: 62.5%;=16px 1.2rem=12px*/
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
    width: fit-content;
    letter-spacing: 0.01rem;
    line-height: 3rem;
}

/*== fade ==*/
.fade_bottom {
    opacity: 0;
    transition: opacity 1.2s ease, transform 1.2s ease, filter 1.2s ease;
    filter: blur(4px);
    transform: translateY(15px);
}

.fade_bottom.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

ol,
ul {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
    font-family: sans-serif;
}

li {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
    list-style: none;
}

/*===================== リンク =====================
main {
    border-bottom: 1px solid var(--border);
}*/

/*main::before {
    content: "";
    width: 89%;
    margin: 0 auto;
    border-top: 1px solid var(--border);
    display: block;
}*/
/*
main a {
    border: 1px solid;
    padding: 1rem;
    letter-spacing: 0.15rem;
}*/

a {
    font-family: futura-pt, sans-serif;
    font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2.4rem);
    font-weight: 400;
    color: var(--accent);
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0.5rem;
    left: 0;
    bottom: 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    z-index: 100;
}

a:hover {
    color: rgba(217, 217, 217, 0.5);
}

header a::after,
footer a::after {
    content: "";
    width: 100%;
    height: 1px;
    bottom: 5px;
    position: absolute;
    left: 0;
    background-color: var(--bg);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s ease;
}

header a:hover::after,
footer a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*main .button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    width: 150px;
    height: 40px;
    margin-left: 0.5vmin;
    position: relative;
    transition: 0.3s;
  }

main .button::before, main .button::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid var(--border);
    width: 100%;
    height: 100%;
    transition: .3s;
  }

  main .button::before {
    top: -5px;
    left: -5px;
  }
  
  main .button::after {
    top: 3px;
    left: 3px;
  }
  
  main .button:hover::before, main .button:hover::after {
    top: 0;
    left: 0;
  }*/
/*===================== リンク =====================*/


/*===================== img =====================*/
img {
    max-width: 100%;
    width: 65%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    mix-blend-mode: luminosity;
    z-index: -1;
}

/*===================== Section =====================*/

/*===================== tabs h1 top =====================*/
.tabs .top-h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    padding-left: 4rem;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    z-index: 1;
    /*backdrop-filter: blur(15px);*/
    /*border: 1px solid rgba(217, 217, 217, 0.45);*/
    /*box-shadow: 0 2px 3px rgba(46, 46, 46, 0.4);*/
}

.tabs .top-h1::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 1px solid var(--border);
}

.tabs .caption {
    font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 1rem 1.5rem 4rem;
    border: 1px solid var(--border);
    border-left: 0;
    border-bottom: 0;
    z-index: 1;
}

.tabs .top-h1 .caption {
    font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    border: 0;
    border-top: 1px solid var(--border);
}

/*===================== h1 top =====================*/

/*===================== section =====================*/
section .top-s {
    height: auto;
    min-height: 600px;
    border: 0.5px solid var(--border);
    padding: 0 5vw;
    text-align: justify;
    display: flex;
    /* 縦に並べる */
    flex-direction: column;
    /*縦方向の中央寄せ*/
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

section .top-s::before,
section .top-s::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 100px;
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border: 1px solid var(--border);
}
section .top-s::after {
    width: 120px;
    height: 120px;
    border-top-right-radius: 120px;
}
.tabs .top-s::before,
.tabs .top-s::after {
    display: none;
}

.top .tabs::after,
.top .section1::after,
.top .section2::after,
.top .section3::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    border-right: 1px solid var(--border);
    z-index: 0;
}


.h2-bg {
    font-family: sans-serif;
    width: 50%;
    height: 100px;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding-left: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.top .section1 .h2-bg,
.top .section2 .h2-bg,
.top .section3 .h2-bg {
    border-right: 0;
}

.policy .h2-bg span {
    font-size: clamp(6rem, calc(6rem + 0.1vw), 6.4rem);
}

.h2-bg p::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 45px;
    border-top: 1px solid var(--border);
    /*background-color: rgba(217, 217, 217, 0.15);
    background-image: repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(46, 46, 46, 1) 1px, rgba(46, 46, 46, 1) 2px);*/
}

.section4 .top-s {
    justify-content: center;
}

.top section .top-s .text {
    width: 500px;
    height: 150px;
}

.section3 .button {
    margin-top: 3rem;
}

.top .section3 .top-s .text {
    margin-top: 2vmin;
}


/*===================== section in-box =====================*/

section #top-img {
    width: 80%;
    top: -10%;
    right: 0;
}

.tabs img {
    width: 70%;
    top: -15%;
    right: -5%;
}

.top .section1 img,
.top .section2 img,
.top .section3 img,
.top .section4 img {
    width: 400px;
    min-width: 250px;
    background: var(--hover);
}

.top .section1 img {
    height: 400px;
    top: 25%;
    right: -5%;
    /*clip-path: circle(40% at left);*/
}

.top .section1 img:last-child {
    width: 30%;
    height: 350px;
    top: 45%;
    right: 15%;
}

.top .section3 img {
    width: 25%;
    left: 0;
    bottom: 3%;
}

.top .section4 img {
    width: 45%;
    bottom: -5%;
    right: 0;
    transform: rotate(180deg);
}

/*===================== bg-aitem =====================*/
.bg-aitem {
    width: 500px;
    height: 55px;
    position: relative;
    background: var(--border);
}

.top section .top-s .text:nth-child(4) {
    margin: 0;
}

.top #tab-4 .top-s .text {
    text-align: center;
    margin: 0 auto;
}


/*===================== Top =====================*/
