@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 62.5%;
    --root-font-size: 16;
    /*text border main*/
    --text-color: #2e2e2e;
    /*sub black*/
    --hover-color: #4b4b4b;
    /*bg base (217, 217, 217)*/
    --bg-color: #d9d9d9;
    /*link accent*/
    --accent-color: #A07171;
}

::selection {
    background-color: rgba(90,202,152, 0.5);
}

body,header,footer,h1,h2,h3,h4,p,ul,ol,li,a,div,span,img {
    margin: 0;
    padding: 0;
}

/*===================== Scrollbar =====================*/
::-webkit-scrollbar {
    width: 0.2rem;
    background: rgba(40, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0) inset;
    background: rgba(245, 252, 246, 0);
    mix-blend-mode: color-burn;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 2px 1px rgba(31, 30, 30, 0.76) inset;
    background: rgba(20, 20, 20, 0.3);
    mix-blend-mode: color-burn;
}
/*===================== Scrollbar =====================*/

/*===================== footer =====================*/
.logo {
    position: absolute;
    bottom: 0.3%;
    left: 10%;
    z-index: 1;

    a {
        padding: 0.25em 0.5em;

        img {
            width: 35vmin;
        }
    }

}
/*===================== footer =====================*/

/*===================== body text =====================*/
.pc {
    display: block;
}
.mobaile {
    display: none;
}

body {
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--text-color);
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 99%;
    border-top: 5px solid var(--bg-color);
    border-right: 10px solid var(--bg-color);
    z-index: 0;
}

h1 {
    /*font-size: 62.5%;=16px 12rem=120px*/
    font-size: clamp(8rem, calc(8rem + 0.1vw), 10rem);
    /*font-family: liana, script;
    font-weight: 400;*/
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    width: fit-content;
    margin-left: -5px;
    line-height: 10rem;
}

h2,
h3,
h4 {
    /*font-family: roca, sans-serif;
    font-weight: 300;*/
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--bg-color);
}

h2 {
    /*font-size: 62.5%;=16px 6rem=62px*/
    font-size: clamp(4rem, calc(4rem + 0.5vw), 6rem);
    width: fit-content;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
}

h3 {
    /*font-size: 62.5%;=16px 4rem=42px*/
    font-size: clamp(2.8rem, calc(2.8rem + 0.5vw), 3.4rem);
    color: var(--text-color);
}

p {
    /*font-size: 62.5%;=16px 1.2rem=12px*/
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
    width: fit-content;
    letter-spacing: 0.05rem;
    /*text-shadow: 1px 1px 4px rgba(86, 86, 86, 0.65);*/
}
/*== fade ==*/
.fade_bottom {
    opacity: 0;
    transition: opacity 1.2s ease, transform 1.2s ease, filter 1.2s ease;
    filter: blur(4px);
    transform: translateY(15px);
}

.fade_bottom.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

  /*.tate {
    writing-mode: vertical-rl;
    line-height: 2.5rem;
}*/

ol,
ul {
    font-size: clamp(2.4rem, calc(2.4rem + 0.5vw), 2.8rem);
    font-weight: 600;
    color: var(--base-color);
}

li {
    font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2rem);
    font-weight: 500;
    list-style: none;
}

/*===================== リンク =====================*/
main a {
    letter-spacing: 0.75rem;
}
a {
    font-family: futura-pt, sans-serif;
    font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2.4rem);
    font-weight: 400;
    color: var(--accent-color);
    width: fit-content;
    height: fit-content;
    padding: 0.25em 0;
    left: 0;
    bottom: 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
a:hover {
    color: var(--hover-color);
}
a::after {
    background-color: var(--hover-color);
    content: "";
    width: 100%;
    height: 1px;
    bottom: 5px;
    left: 0;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s ease;
}
a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*===================== リンク =====================*/

.hr {
    width: 100%;
    height: 1px;
    margin: 0;
    background: var(--bg-color);
    position: relative;
    z-index: -10;
}

/*===================== img =====================*/
img {
    max-width: 100%;
    width: 65%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    mix-blend-mode: color-burn;
    z-index: 0;
}


/*===================== Section =====================*/
section {
    width: 70%;
    margin: 0 auto;
    background: var(--bg-color);
}

/*===================== tabs h1 top =====================*/
.tabs .top-h1 {
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 0;
    background: var(--bg-color);
    mix-blend-mode: luminosity;
    padding: 0.5rem 4rem;
    border: 1px solid;
    border-left: 0;
    z-index: 1;
}
.tabs .top-h1::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 1px solid;
}
.tabs video {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 10%;
    right: 1%;
    background: var(--text-color);
    z-index: 0;
}
.tabs .caption {
    margin-top: 50%;
    padding: 1.5rem 1rem 1.5rem 4rem;
    border: 1px solid;
    border-left: 0;
    z-index: 1;
}
.tabs .top-h1 .caption {
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    border: 0;
    border-top: 1px solid;
}

/*===================== h1 top =====================*/

/*===================== section =====================*/
section .top-s {
    height: 600px;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding: 0 10rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    /* 縦に並べる */
    /*縦方向の中央寄せ justify-content: center;*/
    position: relative;
    z-index: 1;
}
section .top-s::before {
    content: "";
    width: 120px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
}

.h2-bg {
    width: 250px;
    height: 100px;
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding-left: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.h2-bg p::before {
    content: "";
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid var(--text-color);
}

.section4 .top-s {
    justify-content: center;
}

section .top-s .text {
    width: 500px;
    margin: 15% 0 3%;
}

#tab-2 .top-s .text,
#tab-3 .top-s .text {
    margin-bottom: 0;
}

/*===================== .service =====================*/

.service-list {
    height: 60%;
    position: absolute;
    right: 0;
    bottom: 5%;
}
.service {
    position: relative;
    width: 700px;
    height: 100px;
    margin-top: 1rem;
}

.service h3 {
    margin-top: 4rem;
    padding-left: 1rem;
    border-bottom: 1px solid;
}

.service .video-1,
.service .video-2,
.service .video-3 {
    position: absolute;
    top: 0;
    right: 0;
}
.se-01,
.se-02,
.se-03 {
    position: absolute;
    right: 0;
}
.se-01 {
    width: 450px;
    top: 0;
}
.se-02 {
    width: 590px;
    bottom: 35%;
}
.se-03 {
    width: 720px;
    bottom: 0;
}
.service .video-1::before,
.service .video-2::before,
.service .video-3::before {
    content: "";
    width: 35px;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--accent-color);
}
.service .video-1 {
    width: 300px;
    height: 100px;
    background: var(--text-color);
}

.service .video-2 {
    width: 400px;
    height: 100px;
    background: var(--text-color);
}

.service .video-3 {
    width: 500px;
    height: 100px;
    background: var(--text-color);
}

/*===================== .works =====================*/

.work {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.design,
.art {
    position: absolute;
    border: 1px solid var(--text-color);
}
.design {
    left: 25%;
    width: 380px;
    height: 400px;
}
.design h3 {
    padding-left: 0.5rem;
}
.design video {
    width: 350px;
    height: 350px;
    margin-left: 2%;
    background: var(--text-color);
}
.art {
    right: -8vmin;
    width: 300px;
    height: 260px;
    border-left: 0;
}
.art video {
    width: 280px;
    height: 280px;
    background: var(--text-color);
}

/*===================== section in-box =====================*/

section #top-img {
    width: 75%;
    top: -10%;
    right: 0;
}

/*===================== img*/
section img {
    position: absolute;
}

.section1 img,
.section2 img,
.section3 img,
.section4 img {
    width: 35%;
    background: var(--hover-color);
}

.section1 img {
    height: 480px;
    top: 25%;
    right: 0;
    /*clip-path: circle(40% at left);*/
}

.section1 img:last-child {
    width: 38%;
    height: 430px;
    top: 45%;
    right: 15%;
}

.section3 img {
    width: 25%;
    left: 0;
    bottom: 3%;
}

.section4 img {
    width: 45%;
    bottom: -5%;
    right: 0;
    transform:rotate(180deg);
}

/*===================== bg-aitem =====================*/
.bg-aitem {
    width: 300px;
    height: 100px;
    position: relative;
    background: var(--text-color);
}

.top section .top-s .text:nth-child(3) {
    width: 350px;
    margin: 3% 0 0;
}

.top #tab-4 .top-s .text {
    text-align: center;
    margin: 0 auto;
}


/*===================== Top =====================*/

/*===================== About =====================*/
.about #tab-1 .top-s .text {
    width: 70%;
    margin: 15% auto 3%;
}
.about .bg-aitem {
    width: 70%;
    height: 100px;
    position: relative;
    background: var(--text-color);
    margin: 0 auto;
}
.thoughts {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.thoughts p {
    width: 34%;
    margin: 3% 0 0;
}

/*========== .works */

.about .work {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .design h3 {
    padding-left: 0.5rem;
}
.about .design,
.about .art {
    width: 380px;
    height: 380px;
    position: relative;
    border: 1px solid var(--text-color);
}

.about .design {
    left: -2.5%;
}
.about .art {
    right: -2.5%;
}
.about .design video,
.about .art video {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: var(--text-color);
}
.profile ol {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--text-color);
}
.profile li::after {
    content: "-";
    width: 10px;
    height: 2px;
    margin-right: 1rem;
}
.profile li span {
    font-size: clamp(1rem, calc(1rem + 0.1vw), 1.2rem);
}

/*===================== About =====================*/

/*===================== Service =====================*/

/*===================== Service =====================*/