.audio {
    text-align: center;
    position: absolute;
    top: 5%;
    right: 5%;
    display: grid;
}

.toggle-switch {
    position: relative;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: relative;
    display: block;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label i {
    font-size: clamp(3rem, calc(3rem + 0.1vw), 3.4rem);
    border: 1px solid var(--border);
    transition: transform 0.3s ease-in-out;
}

/* ON状態のスタイル */
.toggle-checkbox:checked + .toggle-label {
    background-color: var(--text-color);
}

.toggle-checkbox:checked + .toggle-label i {
    transform: rotate(90deg);
}

#toggleIcon {
    color: var(--bg-color);
    transition: color 0.3s ease;
}

