.audio {
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid var(--border);
}

.toggle-switch {
    position: relative;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label i {
    font-size: clamp(2.4rem, calc(2.4rem + 0.1vw), 3rem);
    color: var(--accent-color);
    transition: all 0.3s ease;
}

/* ON状態のスタイル */
.toggle-checkbox:checked + .toggle-label {
    background-color: var(--text-color);
}

.toggle-checkbox:checked + .toggle-label i {
    color: var(--border);
    transform: rotate(-135deg);
}

.fa-power-off:before {
    content: "\f011";
}