/* カーソルを非表示にする */
* {
    cursor: none !important;
}

#cursor, #stalker {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9999;
}

/* カーソルのスタイル */
#cursor {
    width: 1px;
    height: 26px;
    transform: translate(1000%, 50%) rotate(-40deg);
    border: 1px solid var(--border);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); /* 光沢のある効果 */
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

#stalker {
    width: 30px;
    height: 30px;
    transform: rotate(-40deg);
    border: 1px solid #894646;
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* ホバー時のスタイル */
.cursor--hover {
    width: 30px !important;
    height: 30px !important;
    transform: translate(0%, 0%) rotate(90deg);
}

.stalker--hover {
    width: 1px !important;
    height: 26px !important;
    box-shadow: 0 0 10px rgba(217, 217, 217, 0.6);
}
