    /*PC*/
    footer {
        color: var(--text-color);
        position: relative;
        height: 400px;
        padding: 0 15% 0;
        bottom: 0;
        /*border-top: 5px solid var(--bg-color);
        border-right: 5px solid var(--bg-color);*/
        z-index: 9;
    }
    footer::before {
        content: "";
        width: 10%;
        height: 100%;
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
        position: absolute;
        right: 15%;
        z-index: 9;
    }

    .fo1 {
        margin-top: 6rem;
    }
    .fo2 {
        margin-top: 8rem;
    }

    footer a {
        font-size: clamp(2.4rem, calc(2.4rem + 0.5vw), 3rem);
        margin: 1rem 0 0 2rem;
        padding: 0.5rem;
    }

    footer div a {
        font-size: clamp(2.4rem, calc(2.4rem + 0.1vw), 2.8rem);
        text-shadow: 0px -1px  var(--bg-color), 0px 0px  var(--bg-color), 0px 1px  var(--bg-color), 0px 0px var(--bg-color);
    }

    footer a:hover {
        color: var(--bg-color) !important;
        opacity: 0.9;
    }

    .foot {
        font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
        font-family: "Inter", sans-serif;
        color: var(--bg-color);
        position: absolute;
        right: -4.5%;
        bottom: 25%;
        transform: rotate(-90deg);
    }

    @media only screen and (max-width:600px) {
        footer {
            height: 350px;
            padding: 3em 2em 0;
            border-top: 1px solid;
        }

        footer div a {
            margin-top: 4em;
        }

        footer a:hover {
            opacity: 0.95;
        }

        .foot {
            font-size: clamp(0.8rem, calc(0.8rem + 0.5vw), 0.9rem);
            padding: 0.25em 1em;
        }
    }