
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
.col {
    padding: 0 2rem 0 1.5rem;
    /*float: left;*/
    flex: 1;
}

.col.x-50 {
    margin-top: 2rem;
    margin-right: 1rem;
    flex-direction: column;
}

.col.x-100 {
    margin-top: 2rem;
}

input:-internal-autofill-selected,
.contact-form .input-text {
    background-color: rgba(46, 46, 46, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

.content-wrapper {
    width: 750px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    position: relative;
    background: var(--text-color);
}

.get-in-touch {
    margin: 0 auto;
    position: relative;
}

.contact-form .form-field {
    position: relative;
}

.contact-form .input-text {
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
    font-family: Lusitana, serif;
    font-weight: 400;
    display: block;
    width: 300px;
    height: 87.5px;
    border-width: 0;
    background-color: var(--bg-color);
}

.contact-form #message {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    transform: translateY(-5rem);
}

.contact-form .label {
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
    font-weight: 400;
    color: var(--accent-color);
    position: absolute;
    left: 6%;
    top: 0%;
    transition: transform 0.3s ease-in-out;
}
/*
.contact-form .label-test {
    left: 3.5%;
}*/

.contact-form .submit-btn {
    font-family: zen-maru-gothic, sans-serif;
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
    width: 380px;
    height: 35pt;
    display: inline-block;
    color: var(--bg-color);
    background-color: var(--hover-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    padding: 0.35rem 0.8rem 0.5rem 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact-form .submit-btn:hover {
    color: var(--text-color);
    background: var(--accent-color);
}

.align-center {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.note {
    position: absolute;
    left: 1.5rem;
    bottom: 3rem;
    z-index: 1;
}

.note a {
    font-size: clamp(1rem, calc(1rem + 0.1vw), 1.2rem);
    letter-spacing: 0.065rem;
}

section .top-s .note p {
    font-size: clamp(1rem, calc(1rem + 0.1vw), 1.2rem);
    color: var(--bg-color);
}


/*===================== モーダルウィンドウ =====================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 20%;
}

.modal-content {
    width: 55%;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    color: var(--base-color);
    background: rgba(245, 252, 246, 0.13);
    box-shadow: 0 3px 5px 0 rgba(46, 46, 46, 0.67);
    backdrop-filter: blur(6.5px);
    border: 1px solid var(--white-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close {
    color: var(--base-color);
    font-size: 25pt;
    font-weight: bold;
    float: right;
    position: absolute;
    top: 20%;
    right: 20%;
}

.close:hover,
.close:focus {
    color: var(--main-color);
    text-shadow: 0 1px 2px var(--base-color);
    text-decoration: none;
    cursor: pointer;
}

/*===================== モーダルウィンドウ =====================*/


@media screen and (max-width: 599px) {
.col {
    padding: 0 14.5vmin 0 9.5vmin;
}

.col.x-50 {
    margin-top: 2rem;
}

.col.x-100 {
    margin-top: 4rem;
    margin-bottom: 0.3rem;
}

.contact-form .input-text {
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
    height: 30px;
    padding-left: 2rem;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    transform: translateY(-2rem);
}

.contact-form .label {
    font-size: clamp(1rem, calc(1rem + 0.1vw), 1.2rem);
    color: rgba(0, 58, 66, 0.35);
    left: 25%;
    line-height: 1.2rem;
    transition: transform 0.2s ease-in-out;
}

.contact-form .label-test {
    left: 13%;
}

.contact-form .submit-btn {
    font-size: clamp(1rem, calc(1rem + 0.5vw), 1.2rem);
    width: 65pt;
    height: 30pt;
}
.contact-form .submit-btn:active {
    color: var(--base-color);
    background: var(--main-color);
}

.note p {
    width: 80%;

}


/*===================== モーダルウィンドウ =====================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 20%;
}

.modal-content {
    width: 55%;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    color: var(--base-color);
    background: rgba(245, 252, 246, 0.13);
    box-shadow: 0 3px 5px 0 rgba(46, 46, 46, 0.67);
    backdrop-filter: blur(6.5px);
    border: 1px solid var(--white-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close {
    color: var(--base-color);
    font-size: 25pt;
    font-weight: bold;
    float: right;
    position: absolute;
    top: 20%;
    right: 20%;
}

.close:hover,
.close:focus {
    color: var(--main-color);
    text-shadow: 0 1px 2px var(--base-color);
    text-decoration: none;
    cursor: pointer;
}

/*===================== モーダルウィンドウ =====================*/

}