#loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--inv); /* 適切な背景色を設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 1; /* 初期状態で表示されるように設定 */
    visibility: visible; /* 初期状態で表示 */
    transition: opacity 1s ease-in-out, visibility 0s; /* visibility切り替えは不要 */
}

.typing00 {
    font-size: clamp(1.8em, calc(1.8em + 0.5vw), 2.4em);
    color: var(--def); /* 適宜色を設定 */
    letter-spacing: 1em;
    opacity: 0; /* 初期状態では非表示 */
    transition: opacity 1s ease-in-out;
}

.js_typing.endAnime {
    opacity: 1; /* アニメーション終了後に表示 */
}

#sound-toggle {
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: opacity 1s ease-in-out, visibility 0s 1s;
}
