@media screen and (max-width: 599px) {
    .pc {
        display: none;
    }
    .mobaile {
        display: block;
    }

/*===================== Scrollbar =====================*/

/*===================== body text =====================*/

body {
    font-weight: 500;
    padding-top: 0;
}

body::before {
    top: 0;
    left: 7%;
    width: 8%;
    height: 100%;
    background-size: auto auto;
    background-image:
        linear-gradient(90deg, transparent 1%, rgba(146, 146, 146, 0.25) 2%),
        /* Vertical line */
        linear-gradient(0deg, transparent 1%, rgba(146, 146, 146, 0.25) 2%);
    /* Horizontal line */
    background-size: 50px 5px, 5px 50px;
    /* Horizontal line spans full width, vertical line spans full height */
    background-position: center;
    /*animation: moveBackground 10s linear infinite;*/
}

body::after {
    background-image: url("https://mizukioyama.github.io/pd/hp-img/noize.png");
    opacity: 0.1;
}

h1 {
    /*font-size: 62.5%;=16px 12rem=120px*/
    font-size: clamp(8rem, calc(8rem + 0.5vw), 10rem);
    width: 100%;
    line-height: 10rem;
    letter-spacing: 0.85rem;
}

/*.noise {
    -webkit-background-clip: text;
    -webkit-text-fill-color: darkgray;
    --lines: 0.0003px;
    mask: repeating-radial-gradient(circle at center,
            #000,
            var(--lines),
            #000,
            0,
            #0000,
            calc(var(--lines) * 2),
            #0000 0);
}


@media (prefers-color-scheme: light) {
    .noise {
        background: linear-gradient(to bottom, black, gray) fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: darkgray;
    }
}*/

h2 {
    /*font-size: 62.5%;=16px 6rem=62px*/
    font-size: clamp(6rem, calc(6rem + 0.5vw), 6.8rem);
    line-height: 6rem;
    -webkit-text-stroke-width: 1px;
}
.policy h2 {
    line-height: 8rem;
}

h3 {
    /*font-size: 62.5%;=16px 4rem=42px*/
    font-size: clamp(2rem, calc(2rem + 0.5vw), 4rem);
}

p {
    /*font-size: 62.5%;=16px 1.2rem=12px*/
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
    letter-spacing: -0.075rem;
}

ol,
ul {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
}

li {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
}

/*===================== リンク =====================*/

main::before {
    display: none;
}

main a {
    padding: 1rem;
    margin-top: 5vmin;
    letter-spacing: 0.15rem;
}

.top .section2 a,
.top .section3 a {
    left: -25vmin;
    margin-bottom: 20vmin;
}
.top .section1 a {
    left: -25vmin;
}

a {
    font-size: clamp(1.8rem, calc(1.8rem + 0.5vw), 2.4rem);
    padding: 0.25rem 0.5rem;
    left: 0;
    bottom: 0;
}

.top-s a {
    border: 1px solid var(--border);
}

a:active {
    color: rgba(217, 217, 217, 0.5);
}

header a::after,
footer a::after {
    content: "";
    width: 100%;
    height: 1px;
    bottom: 5px;
    position: absolute;
    left: 0;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s ease;
}

header a:hover::after,
footer a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

main .button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    width: fit-content;
    height: auto;
    position: relative;
    transition: 0.3s;
    border: 1px solid var(--border);
  }

main .button::before, main .button::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid var(--border);
    width: 100%;
    height: 100%;
    transition: .3s;
  }

  main .button::before {
    top: -5px;
    left: -5px;
  }
  
  main .button::after {
    top: 3px;
    left: 3px;
  }
  
  main .button:active::before, main .button:active::after {
    top: 0;
    left: 0;
  }
/*===================== リンク =====================*/

.hr {
    height: 0.5px;
}
.hr::after {
    height: 140px;
    top: -70px;
}


/*===================== img =====================*/
img {
    width: 65%;
    shape-margin: 0.75rem;
    mix-blend-mode: luminosity;
}


/*===================== Section =====================*/
section {
    width: 100%;
}

/*===================== tabs h1 top =====================*/
.tabs .top-h1 {
    top: 0;
    left: 0;
    width: 100%;
    mix-blend-mode: plus-lighter;
    padding: 0.15rem 0 0 1rem;
    border: 1px solid var(--border);
    border-top: 0;
    border-left: 0;
    z-index: 1;
}

.tabs video {
    width: 80%;
    position: absolute;
    top: 10%;
    right: 0.5%;
    z-index: 0;
}

.tabs .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border: 1px solid var(--border);
    border-left: 0;
}

.tabs .top-h1 .caption {
    font-size: clamp(1.8rem, calc(1.8rem + 0.1vw), 2rem);
    padding: 0.5rem 0;
    border-top: 1px solid var(--border);
}

/*===================== h1 top =====================*/

/*===================== section =====================*/
section .top-s {
    height: 650px;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
}

section .top-s::before {
    content: "";
    width: 85px;
    height: 60px;
}

.top .tabs::after,
.top .section1::after,
.top .section2::after,
.top .section3::after {
    display: none;
}


.h2-bg {
    height: 100px;
    padding: 0 2rem;
    position: absolute;
    top: 0;
    left: 0;
}

.policy .h2-bg {
    width: 50%;
    height: 50px;
}
.policy .h2-bg span {
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
}

.h2-bg p::before {
    content: "";
    width: 100%;
    height: 7%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.top section .top-s .text {
    width: 100%;
    margin: 0;
}

#tab-2 .top-s .text,
#tab-3 .top-s .text {
    margin-bottom: 0;
}

/*===================== .service =====================*/

.se-list {
    width: 120%;
    position: absolute;
    right: 0;
    bottom: 1%;
}

.top .se {
    position: relative;
    width: 100%;
    height: 75px;
    margin-top: -10px;
    z-index: -1;
}

.top .se h3 {
    width: 55%;
    position: absolute;
    bottom: 45%;
    margin-top: 4rem;
    padding: 0 1rem;
    border-bottom: 1px solid var(--border);
}

.top .se-list h3,
.top .se-list p {
    right: 0;
}

.top .se p {
    position: absolute;
    bottom: 20%;
    padding-right: 1rem;
}

/*video size*/
.top .se .video-1,
.top .se .video-2,
.top .se .video-3 {
    width: 55%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid var(--border);
    border-right: 0;
}

.se .video-1::before,
.se .video-2::before,
.se .video-3::before {
    content: "";
    width: 35px;
    height: 100%;
    position: absolute;
    left: 0;
    border-right: 1px solid var(--border);
}


/*===================== .works =====================*/

.work {
    height: 45%;
    position: absolute;
    bottom: -25vmin;
}

.design,
.art {
    position: absolute;
    border: 1px solid var(--border);
}

.design {
    right: 0;
    left: 0;
    width: 60%;
    height: 60%;
}

.design video {
    width: 85%;
    height: 85%;
}

.art {
    right: 0;
    width: 40%;
    height: 55%;
}

.art video {
    width: 85%;
    height: 85%;
}

/*===================== section in-box =====================*/

section #top-img {
    width: 80%;
    top: -10%;
    right: 0;
}

/*===================== img*/
section img {
    position: absolute;
}

.tabs img {
    width: 80%;
    top: -15%;
    right: -5%;
}

.top .section1 img,
.top .section2 img,
.top .section3 img,
.top .section4 img {
    width: 35%;
}

.top .section1 img {
    height: 400px;
    top: 25%;
    right: -5%;
    /*clip-path: circle(40% at left);*/
}

.top .section1 img:last-child {
    width: 30%;
    height: 350px;
    top: 45%;
    right: 15%;
}

.top .section3 img {
    width: 25%;
    left: 0;
    bottom: 3%;
}

.top .section4 img {
    width: 45%;
    bottom: -5%;
    right: 0;
    transform: rotate(180deg);
}

/*===================== bg-aitem =====================*/
.bg-aitem {
    width: 100%;
    height: 5%;
    position: relative;
}

.top section .top-s .text:nth-child(3) {
    width: 90%;
    margin: 2% 0 0;
}

/*===================== Top =====================*/

/*===================== About =====================*/

.about #tab-1 .top-s .text {
    width: 100%;
}

.thoughts {
    width: 100%;
    gap: 3vmin;
}

/*========== .works */

.about .work {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about h3 {
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
    position: relative;
    padding-left: 0;
    z-index: 1;
}

.about .design,
.about .art {
    width: 50%;
    height: 25%;
    position: relative;
    border: 1px solid var(--border);
}

.about .design {
    left: -2.5%;
}

.about .art {
    right: -2.5%;
}

.about .design video,
.about .art video {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 92.5%;
    height: 92.5%;
    margin: 0;
    border: 3px solid var(--border);
}

/*========== .works */

.profile {
    width: 100%;
    height: fit-content;
    display: block;
}

.oyama,
.like {
    width: 100%;
    margin: 0;
}

.profile ol {
    height: 100%;
    padding-left: 0;
    margin: 0 auto 10vmin;
}

.profile ol div {
    padding-left: 10px;

}

.profile li {
    width: 100%;
    margin-bottom: -2%;
}

.profile li br {
    display: block;
    content: "";
    margin: -5px 0;
}

.profile li::before {
    content: "・";
    display: block;
    position: relative;
    left: -13px;
    bottom: -18px;
}

.profile li span {
    font-size: clamp(0.8rem, calc(0.8rem + 0.1vw), 1rem);
}

.profile video {
    position: absolute;
}

.profile .oyama video {
    position: absolute;
    top: 10%;
    z-index: -1;

}

.profile .like video {
    width: 80%;
    margin-bottom: 0;
    bottom: 10%;
}

/*========== .color */

.about .section4 .color {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20vmin;
    padding: 1rem;
    background-color: var(--border);
}

.about .section4 .bg-aitem {
    font-size: clamp(1.2rem, calc(1.2rem + 0.1vw), 1.6rem);
    width: 95px;
    height: 170px;
    margin: 0 1%;
    padding: 1rem;
}

/*===================== About =====================*/

/*===================== Service =====================*/

.service .section1 video {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0%;
    z-index: -1;
    mix-blend-mode: difference;
}

.service .top-s,
.policy .top-s,
.contact .top-s {
    align-items: center;
    justify-content: center;
}

.policy .top-s .text,
.contact .top-s .text {
    margin: 0;
}

/*========== .service img */
.service .section3 img {
    width: 55%;
}

.flow-ol {
    font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
    font-weight: 600;
}

.flow {
    font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 1.8rem);
    font-weight: 500;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
}

.option {
    width: calc(800px - 100px);
    height: 350px;
    padding: 1rem 0.5rem;
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
}

.option h3 {
    font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
    height: 35px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--border);
}

.option ol {
    width: 100%;
    margin: 0 0.3rem;
}

.option ol div {
    font-size: clamp(2rem, calc(2rem + 0.5vw), 2.4rem);
    font-weight: 500;
    height: 290px;
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--border);
}

.option ol li {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
    width: fit-content;
}

/*===================== Service =====================*/
}

@media screen and (min-width: 600px) and (max-width: 1299px) {}