ol {
    display: flex;
}

.line {
    width: fit-content;
    position: relative;
    border-bottom: 1px solid;
}

.line::before {
    content: '-';
    border-left: 1px solid;
}

.line::after {
    content: '';
    border: 1px solid;
}