ol {
    display: flex;
    width: 100%;
}

.line {
    font-size: clamp(1rem, calc(1rem + 0.1vw), 1.2rem);
    width: 50%;
    height: 45px;
    position: relative;
    margin-top: 2%;
    padding-left: 0.5rem;
    border-left: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

.line span {
    font-size: clamp(0.8rem, calc(0.8rem + 0.1vw), 0.9rem);
}